Cubic3D.pyproj
Cubic3D.pyproj.user
db.sqlite3
env
.env
.venv
invoices
media
output.gcode
readme.html
receipts
/static
Cubic3D.sln
obj
bin
.vs
.vscode
__pycache__
.DS_Store
# Ignore all Django migration files
**/migrations/*

# But DO NOT ignore the __init__.py files
!**/migrations/__init__.py
