Django
numpy
pip
pyparsing
python-dateutil
python-utils
pytz
setuptools
gunicorn
whitenoise
numpy-stl
weasyprint
html5lib
Pillow
pycparser
PyPDF2
reportlab
six
webencodings
xhtml2pdf
Django-Verify-Email
django-recaptcha