/*fonts*/
@font-face {
    font-family: 'DIN Neuzeit Grotesk';
    src: url('../fonts/DIN Neuzeit Grotesk LT W01 BdCn.woff2') format('woff2'), url('../fonts/DIN Neuzeit Grotesk LT W01 BdCn.woff') format('woff'), /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
    url('../fonts/DIN Neuzeit Grotesk LT W01 BdCn.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/Playfair Display.woff2') format('woff2'), url('../fonts/Playfair Display.woff') format('woff'), /*Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
    url('../fonts/Playfair Display.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Playfair Display Italic';
    src: url('../fonts/PlayfairDisplay-Italic.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Avenir light';
    src: url('../fonts/Avenir_LT_35_Light.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-LightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-ExtraLightItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}
/*Navigation Bar*/

.navbar {
    min-height: 126px;
    margin-bottom: 0;
    border: 0;
}


#navbar-strip {
    margin-top: 25px;
}

.navbar-brand {
    font-family: 'DIN Neuzeit Grotesk',sans-serif;
    font-weight: normal;
    font-size: 30px;
    color: #F7D57F;
    padding-right: 94px;
    margin-left: 0px !important;
}

.navbar-nav>li>a {
    font-family: 'DIN Neuzeit Grotesk',sans-serif;
    font-size: 19px;
    color: #FCFCFC;
    transition: color 0.4s ease 0s;
    padding-right: 40px;
    padding-left: 30px;
}

.navbar-right>li>a {
    font-family: 'Playfair Display',serif;
    font-size: 13px;
    color: #FBEABE;
    padding-right: 10px;
    /*padding-left: 10px;*/
}
@media(min-width: 768px){
    .navbar-right > li > a{
        padding-left: 10px;
    }
}

.dropdown-menu{
    background-color: #000000;
    font-family: 'Playfair Display', sans-serif;
}
.dropdown-menu > li > a{
    color: #FCFCFC;
    padding-top: 10px;
    padding-bottom: 10px;
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: transparent;
}

.icon-bar{
    background-color: #F7D57F;
    width: 26px;
}

/* navbar events*/
.navbar-nav > li > a:hover {
    background-color: transparent;
    color: #F7D57F;
}
.navbar-brand:hover {
    color: #F5DDA2;
}
.navbar-right > li > a:hover {
    background-color: transparent;
    color: #FBEABE;
}
/********home page********/
body {
    background-color: #262626
}
.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}

/*Carousel*/
.carousel-control-svg {
    width: 20px;
    fill: #e8e8e8;
    stroke: #e8e8e8;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}
.carousel-control-svg:hover {
    fill: #e8e8e8;
    stroke: #e8e8e8;
    stroke-width: 1px;
}
#svg-right {
    transform: scaleX(-1);
}
#cubiccarousel{
    width: 100%;
}
#cubiccarousel img {
    width: 100%;
    height: calc(100vw / 2.532);
    object-fit: cover;
    display: block;
    line-height: 1;
}

.SEO{
    text-align: center;
    padding-bottom: 20px;
}

.SEO.carousel-caption {
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto;
}

.SEO .welcome {
    text-align: center;
    font-family: 'Playfair Display',Arial;
    /*font-size: 70px;*/
    font-size: 7em;
    font-style: italic;
    font-weight: normal;
    color: #F7D57F;
}

.SEO .brand {
    text-align: center;
    font-family: 'Playfair Display',Arial;
    /*font-size: 88px;*/
    font-size: 8.8em;
    font-style: normal;
    font-weight: normal;
    color: #FCFCFC;
}
.SEO .about {
    text-align: center;
    font-family: 'DIN Neuzeit Grotesk',sans-serif;
    /*font-size: 19px;*/
    font-size: 1.9em;
    font-style: normal;
    font-weight: normal;
    color: #FCFCFC;
    text-align:center;
}
.SEO .storelink{
    background-color: rgba(0,0,0,0.5);
    color: #F7D57F !important;
}
.SEO .storelink:hover{
    background-color: black;
}

.btn {
    transition: all 0.2s ease 0s;
}
.btn1 {
    background-color: #f7d57f;
    text-align: center;
    font-family: 'DIN Neuzeit Grotesk',sans-serif;
    font-size: 19px;
    font-style: normal;
    letter-spacing: normal;
    font-weight: normal;
    color: #3B3B3B;
    border-radius: 0px;
}
.btn1:hover {
    background-color: #F5DDA2;
}
.btn2 {
    background-color: #262626;
    text-align: center;
    font-family: 'DIN Neuzeit Grotesk',sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: normal;
    color: #FCFCFC;
    border-radius: 0px;
}

.btn2:hover {
    background-color: #000000;
    color: #FCFCFC;
}
.btn3 {
    background-color: #262626;
    text-align: center;
    font-family: 'DIN Neuzeit Grotesk',sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: normal;
    color: #FCFCFC;
    border-radius: 0px;
}

.btn3:hover {
    background-color: #F7D57F;
    color: #262626;
}
.btn4 {
    background-color: transparent;
    text-align: center;
    font-family: Nunito,sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    color: #FCFCFC;
    border-radius: 0px;
    border: 0px;
}

.btn4:hover {
    background-color: transparent;
    color: #4BD1A0;
}
.SEO .btn {
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
    width: 142px;
    height: 40px;
    color: black;
    margin-right: 3px;
    margin-left: 3px;
}

.carousel-caption {
    letter-spacing: 0.1em;
    color: #FCFCFC;
    font-family: 'DIN Neuzeit Grotesk',sans-serif;
    font-size: 3em;
    margin-bottom: -90px;
    /*text-shadow: 0 1px 2px #f7d57f;*/
    text-shadow: none;
    transition: margin-bottom 1s ease 0.5s;
}


/*Carousel transition*/
.carousel-fade .carousel-inner .item {
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: ease; 
}

.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    opacity: 0;
}

.carousel-fade .carousel-inner .item .carousel-caption,
.carousel-fade .carousel-inner .active.left .carousel-caption,
.carousel-fade .carousel-inner .active.right .carousel-caption {
    margin: 0 0 -200px 0;
}

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-inner .active .carousel-caption,
.carousel-fade .carousel-inner .next.left .carousel-caption,
.carousel-fade .carousel-inner .prev.right .carousel-caption {
    margin: 0;
}

.carousel-caption {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 20%;
    padding: 0;
}

.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.carousel-fade .carousel-control {
    z-index: 2;
}


.carousel,
.carousel-inner,
.carousel-inner .item {
    height: 100%;
}

/*main page row*/
#indexrow{
    margin: 30px 0 30px 0;
}
#indexrow .col-md-4{
    padding: 33px;
}
#indexrow .col1 {
    background-color: #000000;
}
#indexrow .col2 {
    background-color: #3b3b3b;
}
#indexrow .col3 {
    background-color: #ededed;
}
#indexrow h2{
    text-align: center;
    font-family: 'DIN Neuzeit Grotesk',sans-serif;
    font-size: 25px;
    letter-spacing: 0.2em;
}
#indexrow .col1 h2 {
    margin-top: 36px;
    color: #FCFCFC;
    margin-bottom: 31px
}
#indexrow .col2 h2 {
    margin-top: 45px;
    color: #F7D57F;
    margin-bottom: 50px;
}
#indexrow .col3 h2 {
    margin-top: 45px;
    color: #A6A6A6;
    margin-bottom: 50px;
}
#indexrow .col-content {
    font-size: 18px;
    line-height: 1.4em;
    font-family: Nunito, sans-serif;
}
.col1 .col-content {
    font-weight: 200;
    color: #FFFFFF;
}
.col2 .col-content {
    font-weight: 200;
    color: #FFFFFF;
}
.col3 .col-content {
    font-weight: normal;
    color: #000000;
}
#indexrow .col-link{
    height: 35px;
    text-align: center;
    line-height: 36px;
}
.col-content p{
    margin-bottom: 25px
}
.col3 .btn1{
    width: 206px; /*TODO*/
}
.col1 .col-link a {
    text-decoration: none;
    color: #FCFCFC;
    transition: color 0.3s ease-out 0s;
}
.col2 .col-link a {
    text-decoration: none;
    color: #FCFCFC;
    transition: color 0.3s ease-out 0s;
}
.col3 .col-link a {
    text-decoration: none;
    color: #000000;
    transition: color 0.3s ease-out 0s;
}
.col2 .col-link strong{
    color: #4BD1A0;
}
.col-content strong{
    font-family: 'Nunito',sans-serif;
    font-weight: bold;
}
.col-link a:hover {
    text-decoration: none;
    color: #4BD1A0;
}

/******Capabilities row***********/
#capabilities {
    margin-top: 200px;
}
#capabilities h2{
    font-family: 'DIN Neuzeit Grotesk', sans-serif;
    letter-spacing: 0.2em;
    color: #FCFCFC;
}
#capabilities h3 {
    font-family: Nunito, sans-serif;
    color: #4BD1A0;
    /*color: #f7d57f;*/
    margin-top: 50px;
    display: inline-block;
    letter-spacing: 0.2em;
}
#capabilities .explanation{
    font-family: Nunito, sans-serif;
    font-weight: 200;
    color: #FCFCFC;
    font-size: 18px;
    margin-left: 100px
}
#capabilities img{
    object-fit: contain;
}
#capabilities span{
    font-family: 'Nunito', serif;
    font-size: 30px;
    font-weight: 100;
    color: #f7d57f;
    display: inline-block;
    margin-bottom: 60px;
}
#capabilities .cap_wrapper{
    margin-bottom: 30px;
}
/*footer*/
#footer-wide {
    background-color: #F7D57F;
}
#footer-wide > .container > footer > .row{
    padding-top: 20px;
    padding-bottom: 20px;
}
.copyright{
    font-family: 'Playfair Display',sans-serif;
    font-size: 14px; 
    text-align: center;
}
.social-bar{
    width: auto;
    margin:auto
}
.social-bar{
    list-style:none;
}
.social-bar img{
    width: 28px;
    object-fit: cover;
}

/*****About page*****/
/*navbar background*/
.navbar-image{
    position: fixed;
    opacity: 0.65;
    top: 0px;
    width: 100%;
    z-index: -1;
}
.navbar-image img{
    object-fit: cover; 
    width: 100%;
    height: 100%;
}
/*overview*/
#overview{
    padding-bottom: 30px;
}
#overview h2 {
    font-family: 'DIN Neuzeit Grotesk',sans-serif;
    color: #FCFCFC;
    font-size: 50px;
    margin: 0px;
}
#overview p {
    font-family: 'Playfair Display',serif;
    color: #F5DDA2;
    font-size: 21px;
    padding-top: 20px;
}

/*about strip*/
#about-strip{
    background-color: #FCFCFC;
    font-family: 'Playfair Display',serif;
    color: #000000;
    font-size: 19px;
}
#about-strip h4 {
    color: #F7D57F;
    font-family: 'DIN Neuzeit Grotesk',sans-serif;
    font-size: 32px;
    padding-bottom: 35px;
}
#about-strip .row{
    margin: 60px 0 30px 0;
}
#about-strip .col-md-4{
    padding-right: 35px;
    padding-top: 50px;
}
#about-strip ul{
    font-family: 'DIN Neuzeit Grotesk',sans-serif;
    text-align: center;
    padding: 0 0 30px 0;
}
#about-strip li{
    padding-top: 5px;
}
#about-strip a{
    color: #3B3B3B;
    transition: all 0.3s ease 0s;
}
#about-strip a:hover {
    text-decoration: none;
    font-size: 1.1em;
}
#client_logos .row{
    align-items: center;
}
#client_logos h4{
    padding-top: 50px;
    padding-bottom: 0px;
}
#client_logos .image-col{
    text-align: center;
}
#client_logos img:hover{
    transform: scale(1.1, 1.1);
}
#client_logos img {
    transition: transform 0.3s;
    object-fit: contain;
    width: 100%;
    max-width: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/***Contacts page***/
/* contact strip*/
#contact-strip{
    position: relative;
}
#contact-strip .strip-background{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    object-fit: cover;
    opacity: 0.4;
}
#contact-strip .container{
    text-align: center;
}
#contact-strip h2{
    color: #FCFCFC;
    font-size: 46px;
    font-family: 'Nunito',serif;
    font-weight: bold;
    margin-top: 70px;
    letter-spacing: 0.15em;
}
#contact-strip h3 {
    color: #FCFCFC;
    font-size: 20px;
    font-family: 'Nunito',sans-serif;
    font-weight: 100;
    font-style: italic;
    margin-top: 20px;
}
#contact-strip .row{
    margin: 50px 0 20px 0;
}
#contact-strip .col-md-3{
    padding: 10px 0 10px 0;
    cursor: pointer;
    transition: margin-top 0.2s ease-out 0s;
    text-align: center;
}
#contact-strip .col-md-3:hover{
    position: relative;
    top: 5px;
}
#contact-strip #igback{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    opacity: 0.75;
}
.col2 > .centered_contact > svg {
    padding-bottom: 10px;
}
.centered_contact{
    position: relative;
}
#contact-strip .icon {
    display: block;
    fill: #FFFFFF;
    stroke: #FFFFFF;
    height: 60px;
    margin: auto;
}
#contact-strip .col1 .icon {
    fill: #1a1a1a;
    stroke: #1a1a1a;
    fill-opacity: 1;
}
#contact-strip .channel{
    font-family: 'Nunito',serif;
    font-weight: 200;
    font-style: italic;
    margin: auto;
    font-size: 18px;
    color: #FFFFFF;
    opacity:1;
}

/***Materials page****/
/*Material science subtitle*/
#materialtitle{
    margin-top: 0px;
}
#materialtitle img {
    height: 90px;
    object-fit: cover;
}
#materialtitle h2{
    font-family: 'DIN Neuzeit Grotesk';
    font-size: 50px;
    color: #FCFCFC;
    line-height:51px;
}
#materialstrip {
    background-color: #FBEABE;
}
#materialstrip .row {
    border-width: 1px;
    background-size: contain;
    padding: 0 20px 0 20px;
}
#materialstrip .col-sm-5, .col-sm-2{
    padding-left: 0px;
    padding-right: 0px;
}
#materialstrip .col-sm-2{
    display: none;
}
.material_p {
    color: #3C200C;
    font-size: 25px;
    font-family: 'DIN Neuzeit Grotesk';
    padding: 50px 0;
    background-color: #FBEABE;
}
.print_links{
    text-align: center;
    margin-top: 60px;
}
.print_links a{
    width: 135px;
}
#comptable {
    background: url("/static/app/images/molecule.png") no-repeat center;
}
#materialstrip h2{
    text-align: center;
    color: #262626;
    font-family: 'Nunito';
    font-weight: bold;
    font-style: normal;
    padding-top: 10px;
    
}
#materialstrip h3 {
    text-align: center;
    color: #262626;
    font-family: Nunito;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
}
.comparison {
    text-align: left;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: black;
}
.comparison.hover {
    background-color: #F7D57F
}
.comptopic {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    transition: background 0.2s ease 0s;
    font-size: 18px;
}
#comptable td:nth-child(1) {
    border-radius: 10px 0px 0px 10px;
}
#comptable td:nth-child(4){
    border-radius: 0 10px 10px 0;
}
#comptable tr {
    transition: all 0.3s ease 0s;
}
#materialstrip tr:not(.table-header):hover {
    background-color: #F7D57F;
}
.borderstyling {
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #262626;
}
#matl_link {
    text-align: center; 
    margin-top:50px;
    margin-bottom: 50px;
    font-family: Nunito, sans-serif;
    font-size: 20px;  
}
#matl_link a {
    color: #4BD1A0;
}
/*TPU strip*/
#TPU_strip .container{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #FCFCFC;
}
#TPU_strip h3{
    font-family: 'DIN Neuzeit Grotesk',sans-serif;
    font-size: 30px;
    padding-bottom: 20px;
}
#TPU_strip span {
    font-family: 'DIN Neuzeit Grotesk',sans-serif;
    color: #F7D57F;
    font-size: 35px;
    padding-top: 20px;
}
#TPU_strip h4 {
    font-family: 'DIN Neuzeit Grotesk',sans-serif;
    font-size: 22px;
}
#TPU_strip p{
    font-family: Nunito,serif;
    font-size: 18px;
}

/******Sign up page*******/

.cleanbody{
    background-color: white;
}
#signup{
    padding-top: 20px;
    padding-bottom: 20px;
}
#signuptitle h1{
    font-family: 'Playfair Display',serif;
    font-size: 56px;
    text-align: center;
    margin: 0 0 5px 0;
}

#signup .row{
    margin: 80px auto auto auto;
}
#signup .input-group{
    width: 100%;
    max-width: 332px;
    height: auto;
    margin: 0 auto 24px auto;
}
#signup input{
    height: 48px;
    width: 100%;
}
#signup .submitbtn {
    max-width: 332px;
    margin: 0 auto 0 auto;
}
#signup p{
    text-align: center;
    height: 48px;
    line-height: 50px;
}
#signup a{
    font-weight: bold;
    color: black;
}

/***Pending verification page***/
.pending_verification h1 {
    font-family: 'Playfair Display',serif;
    font-size: 40px;
    text-align: center;
    margin: 0 0 50px 0;
}
.pending_verification p {
    text-align: center;
    font-family: Nunito, sans-serif;
    padding-bottom: 20px;
}
.pending_verification span{
    font-weight: bold;
}
.pending_verification a {
    text-align: center;
    color: #333;
    font-family: 'Playfair Display',serif;
    text-decoration: underline;
}
/***Verification succesfull***/
.verification_success h1 {
    font-family: 'Playfair Display',serif;
    font-size: 40px;
    text-align: center;
    margin: 0 0 50px 0;
}

.verification_success p {
    text-align: center;
    font-family: Nunito, sans-serif;
    padding-bottom: 20px;
}

.verification_success a {
    text-align: center;
    color: #333;
    font-family: 'Playfair Display',serif;
    min-width: 60px;
}
/***Login page****/
#logintitle h1 {
    font-family: 'Playfair Display',serif;
    font-size: 56px;
    text-align: center;
    margin: 0 0 85px 0;
}
#login .input-group {
    max-width: 332px;
    width: 100%;
    height: auto;
    margin: 0 auto 24px auto;
}
#login input {
    height: 48px;
    width: 100%;
}
#login .submitbtn {
    max-width: 332px;
    text-align: center;
    margin: Auto;
}

#login p {
    text-align: center;
    height: 48px;
    line-height: 50px;
}

#login a {
    font-weight: bold;
    color: black;
}

/****password reset pages****/
.pass_reset h1 {
    font-family: 'Playfair Display',serif;
    font-size: 40px;
    text-align: center;
    margin: 0 0 50px 0;
}
.pass_reset .input-group {
    max-width: 332px;
    width: 100%;
    height: auto;
    margin: 0 auto 24px auto;
}

.pass_reset input {
    height: 48px;
    width: 100%;
}

.pass_reset .submitbtn {
    max-width: 332px;
    text-align: center;
    margin: Auto;
}

.pass_reset p {
    text-align: center;
    /*height: 48px;
    line-height: 50px;*/
}
.pass_reset a {
    font-weight: bold;
    color: black;
}
.passinfo {
    max-width: 400px;
    margin: auto;
}

/**Edit account page***/
.clean_brand {
    font-family: 'DIN Neuzeit Grotesk',sans-serif;
    font-weight: normal;
    font-size: 30px;
    color: #F7D57F;
}
#edit_profile .input-group {
    max-width: 332px;
    width: 100%;
    height: auto;
    margin: 0 auto 24px auto;
}
#edit_profile input {
    height: 48px;
    width: 100%;
    border-color: #A6A6A6;
}
#edit_profile .input-group-addon{
    background-color: transparent;
    border: none;
}
#edit_profile .submitbtn{
    width: 50%;
    margin: auto;
}
#edit_profile{
    max-width: 700px;
}
#edit_profile .row{
    padding-top: 30px;
}
#profile_title {
    font-family: 'Playfair Display', serif;
    font-size: 26px;
    color: #262626;
    padding-bottom: 37px;
    margin-bottom: 32px;
    border-bottom: 1px solid rgba(38, 38, 38, 0.2);
}
#profile_title h2{
    font-size: 15px;
}
/****Upload page****/
#uploadrow{
    background-color: #FFFFFF;
}
#uploadtitle .row{
    margin: 0 auto 30px auto;
    max-width: 900px;
}
#uploadtitle svg{
    width: 64px;
    fill: white;
}
#uploadtitle h2{
    font-size: 50px;
    font-family: 'DIN Neuzeit Grotesk', sans-serif;
    color: #FCFCFC;
    margin-top: 0;
}
#uploadtitle h3{
    font-size: 30px;
    font-family: 'DIN Neuzeit Grotesk', sans-serif;
    color: #FBEABE;
    margin: 30px 0 30px 0;
}
#uploadtitle h4{
    font-size: 21px;
    font-family: 'DIN Neuzeit Grotesk', sans-serif;
    color: #FBEABE;
}
/* Upload form*/
#uploadrow .row{
    margin: 60px 0 60px 0;
}
#uploadrow .col-md-6{
    padding: 0 40px 0 40px;
}
#uploadrow .input-group {
    width: 100%;
    max-width: 400px;
    margin: 0 auto 24px auto;
    height: auto;
    padding: 0 0 0 0;
}
#uploadrow input{
    height: 48px;
    width: 100%;
}
#uploadrow .input-group-addon{
    background-color: transparent;
    border-radius: 0px;
}
#uploadrow textarea{
    width: 100%;
}
#uploadrow select {
    height: 48px;
    width: 100%;
}
#uploadrow .submitbtn{
    width: 100%;
    max-width: 400px;
    margin: auto;
}
#uploadrow .btn2{
    width: 100%
}
.checkbox-inline {
    padding: 0;
    line-height: 34px;
}
.checkbox-inline input{
    margin: 2px;
}
#file-icon{
    padding: 0 0 0 12px;
    margin: 0 0 0 0;
    height: auto;
    border: 0;
    background-color: inherit;
}
#file-icon svg{
    fill: #262626;
    height: 48px;
    cursor: pointer;
    transition: 0.3s
}
#file-icon svg:hover{
    height: 48px;
    fill: #000000;
}
.uploadhelp{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    display: none;
}
.uploadhelp img{
    height: 200px;
}
.uploadhelp a{
    font-weight: bold;
    color: #000000;
}

/*upload modal and loader*/

#uploadmodal .modal-dialog {
    display: flex;
    margin: auto;
    position: absolute;
    top: 0; bottom: 0; right: 0; left:0;
}
#uploadmodal .modal-content {
    background-color: transparent;
    margin: auto;
    border: 0;
    box-shadow: none;
}
.loader {
    border: 8px solid rgba(38,38,38,0.7);
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1.5s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Review and info page title*/

#review_title .row {
    margin: 0 auto 30px auto;
    max-width: 900px;
}
#review_title h2 {
    font-size: 50px;
    font-family: 'DIN Neuzeit Grotesk', sans-serif;
    color: #FCFCFC;
    margin-top: 0;
}

#review_title h4 {
    font-size: 21px;
    font-family: 'DIN Neuzeit Grotesk', sans-serif;
    color: #FBEABE;
    margin-top: 30px;
}
/*Review info and viewer*/
#review_info{
    background-color: #FBEABE;
}
#review_info .row {
    margin: 60px 0 60px 0;
}
#review_info .col-md-4{
    background-color: #3b3b3b;
    padding: 5px 32px;
}
#review_info .button_group{
    background-color:transparent;
    height: auto;
}
#review_info .btn3{
    width: 100%
}
#review_info .btn4{
    width: 100%
}
#review_info h3 {
    color: #a6a6a6;
    font-family: 'Playfair Display',serif;
    font-size: 24px;
    margin-top: 30px;
}
#review_info h4{
    color: #FCFCFC;
    font-family: Nunito,sans-serif;
    font-size:17px;
}
#review_info p{
    color: #FCFCFC;
    font-family: Nunito, sans-serif;
    font-size: 13px;
}
#review_info input{
    background-color: transparent;
    color: #FCFCFC;
    border-radius: 4px;
}
#review_info .input-group-addon {
    background-color: transparent;
    border: 0;
    font-family: 'DIN Neuzeit Grotesk',sans-serif;
    font-size: 24px;
    color: #F7D57F;
    padding: 0 10px 0px 10px;
}
#review_info .input-group {
    max-width: 252px;
}
#review_info h2{
    font-family: 'Playfair Display',serif;
    font-size: 35px;
    color: #F7D57F;
}
#review_info small {
    font-size: 13px;
    color: #a6a6a6;
}
#review_info .price{
    text-align:center;
    text-decoration: underline;
}
/*STL viewer*/
#review_info .col-md-8 {
    padding: 0;
    display: none;
    background-color: #262626;
}
#review_info iframe{
    width: 100%;
    height: 100%;
    border: 0;
}
#viewer-help-icon svg{
    fill: #F7D57F;
    width: 20px;
    float: left;
    position: absolute;
    top: 5px;
    left: 5px;
    cursor: pointer;
    z-index: 1;
}
p#viewer-tooltip {
    float: left;
    position: absolute;
    top: 30px;
    left: 30px;
    width: 50%;
    border: 1px solid #FBEABE;
    color: #FFFFFF;
    font-family: Nunito;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    font-weight: 200;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
}
#viewer-help-icon:hover #viewer-tooltip {
    visibility: visible;
    opacity: 1;
}
#id_stlviewer{
    transition: opacity 0.5s;
}

/*Thanks page*/
#thanks_title .row {
    margin: 0 auto 30px auto;
    max-width: 900px;
}

#thanks_title h2 {
    font-size: 50px;
    font-family: 'DIN Neuzeit Grotesk', sans-serif;
    color: #FCFCFC;
    margin-top: 0;
}
#thanks_title svg {
    height: 47px;
    fill: #FFFFFF;
}
#thanks_info{
    background-color: #FBEABE;
    padding-top: 50px;
    padding-bottom: 50px;
}
#thanks_info .info{
    max-width: 503px;
    text-align: center;
    font-family:'DIN Neuzeit Grotesk',sans-serif;
    font-size: 25px;
    margin: auto;
    margin-bottom: 20px;
}
#thanks_info h4{
    font-family:'DIN Neuzeit Grotesk',sans-serif;
    font-size: 19px;
}
.quick_link{
    padding: 10px 0 10px 10px;
    font-family: 'Playfair Display',serif;
    font-size: 18px;

}
.quick_link span{
    padding-right: 10px;
}
/****Quote review*****/
#pointdown{
    padding-top:40px;
    fill:#FCFCFC;
    width:85px;
    margin: auto;
}
#pointdown svg {
    transform: rotate(90deg);
}

/****Gallery*****/
#gallery_strip{
    background-color: #FFFFFF;
    padding-top: 40px;
    padding-bottom: 40px;
}
#gallery_strip .row{
    display: flex;
}
#gallery_strip img {
    width: 100%;
    object-fit: cover;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: 0.3s;
}
#gallery_strip img:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*Modal and Carousel*/
#gallery_modal{
    text-align: center;
    background-color: #000000;
    padding:0;
}
#gallery_modal .modal-content {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    background-color: #000000;
}
#gallery_carousel img {
    object-fit: contain;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    max-width: 85vw;
    max-height: 90vh;
}
#gallery_carousel svg {
    fill:#e8e8e8;
    stroke: #e8e8e8;
}
#gallery_carousel .carousel-indicators{
    bottom: 0.5vh;
}

#gallery_modal .close{
    color: #FCFCFC;
    position: absolute;
    top: 1.5vh;
    right: 2vw;
    z-index: 3;
    font-size: 60px;
    background-color: transparent;
    border-width: 0;
    transition: all ease 0.3s;
}
#gallery_modal .close:focus {
    outline: none;
}

/***Print request confirmed page***/
#confirmed_title .row {
    margin: 0 auto 30px auto;
    max-width: 900px;
}

#confirmed_title h2 {
    font-size: 50px;
    font-family: 'DIN Neuzeit Grotesk', sans-serif;
    color: #FCFCFC;
    margin-top: 0;
}

#confirmed_title svg {
    height: 47px;
    fill: #FFFFFF;
}

#confirmed_info {
    background-color: #FBEABE;
    padding-top: 50px;
    padding-bottom: 50px;
}

#confirmed_info .info {
    max-width: 650px;
    text-align: center;
    font-family: 'DIN Neuzeit Grotesk',sans-serif;
    font-size: 25px;
    margin: auto;
    margin-bottom: 20px;
}

#confirmed_info h4 {
    font-family: 'DIN Neuzeit Grotesk',sans-serif;
    font-size: 19px;
}
#confirmed_info table{
    margin: 30px 0 60px 0;
}
#confirmed_info_table td{
    margin-right: 10px;
    padding: 10px;
    background-color: #F7D57F;
    border-radius: 10px;
}
#confirmed_info .spacer{
    background-color: transparent;
}
#confirmed_info tr{
    margin: 10px 0 10px 0;
}

/***Admininstration page styling***/

/**myadmin title**/
.myadmin_title{
    text-align: center;
    color: #FCFCFC;
    font-family: 'Playfair Display', sans-serif;
    margin-bottom: 60px;
}
.nav_link a{
    font-size: 17px;
}
.admin_links{
    /*max-width: 300px;*/
    margin: auto;
    text-align: center;
}
.admin_links a{
    margin: 5px;
    width: 180px;
}
.admin_table_wrapper{
    /*background-color: black;*/
    padding: 30px 50px;
    height: 100%;
    overflow-x: auto;
    color: grey;
}
.admin_table_wrapper th{
    color: white;
}
.admin_table_wrapper td {
    color: grey;
}
#grouped_link{
    text-align: right;
    padding: 20px;
}
.unusual{
    color: red !important;
}
.action_list a{
    padding: 5px 10px;
    display: inline-block;
}
.action_list a.selected{
    border-bottom: 2px solid #FCFCFC;
}
.action_list svg{
    display: inline-block;
    height: 27px;
    fill: #F7D57F;
    stroke: #F7D57F;
    width: auto;
}
.indicator svg {
    height: 18px;
    fill: #F7D57F;
    stroke: #F7D57F;
    width: auto;
    display: inline-block;
}
.action_list .spaced_action{
    padding-left: 30px;
    padding-right: 30px;
}
.action_list svg:hover {
    fill: #FFFFFF;
    stroke: #FFFFFF;
}
.admin_form_wrapper{
    max-width: 332px;
    margin: auto;
}
.admin_form_wrapper form{
    text-align: center;
    margin: auto;
    max-width: 332px;
}
.admin_form_wrapper .input-group{
    width: 100%;
}
.admin_form_wrapper input {
    width: 100%;
    height: 100%;
    height: 48px;
    margin: 20px 0;
}
.request_details{
    color: grey;
}
.request_details strong{
    color: #F7D57F;
}
.admin_form_wrapper .input-group-addon{
    background-color: transparent;
    border-color: transparent;
    color: grey;
}
#life-gross {
    margin: 100px 0px 100px 0px;
    min-height: 300px;
}
#month-gross {
    height: 250px;
    margin: 100px 0px 100px 0px;
}
/*overlay used for not accepting prints*/
#holidayOverlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

#holidayOverlay h3 {
    font-size: 21px;
    font-family: 'DIN Neuzeit Grotesk', sans-serif;
    color: #4BD1A0;
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
}






