{% extends "app/layout.html" %}
{% load static %}
{% block fullcontent %}

<div class="container myadmin_title">
    <h1>{{ title }}</h1>
</div>
<div class="admin_links">
    <a href="{% url 'printrequests' %}" class="btn btn1">Print Requests &raquo;</a>
    <a href="{% url 'pending_confirmation' %}" class="btn btn1">Pending confirmation &raquo;</a>
    <a href="{% url 'orders' %}" class="btn btn1">Orders &raquo;</a>
    <a href="{% url 'printed' %}" class="btn btn1">Printed &raquo;</a>
    <a href="{% url 'completed' %}" class="btn btn1">Completed orders &raquo;</a>
    <a href="{% url 'user_profiles'%}" class="btn btn1">Users</a>
    <a href="{% url 'new_user_request'%}" class="btn btn1">New User Request</a>
    <a href="{% url 'old_sys_orders'%}" class="btn btn1">Old SYS</a>
</div>
{% endblock %}

{% block content %}
<div id="life-gross">
    <canvas id="life_gross_chart" data-url="{% url 'ajax_life_gross' %}"></canvas>
</div>

<div id="month-gross">
    <canvas id="this_month_chart" data-url="{% url 'ajax_month_gross' %}"></canvas>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script src="{% static 'app/scripts/lifegross.js' %}?v=1.0"></script>
<script src="{% static 'app/scripts/monthgross.js' %}?v=1.0"></script>


{% endblock %}