{% extends "app/layout.html" %}

{% block fullcontent %}
<div class="myadmin_title">
    <h1>{{title}}</h1>
    <div class="nav_link"><a href="{% url 'myadmin' %}">&lt; Main</a></div>
</div>

<div class="admin_table_wrapper">    
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Username</th>
            </tr>
        </thead>
        {% for user in users  %}
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.profile.mobile}}</td>
                <td>{{user.username}}</td>
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}