{% autoescape off %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>3D printing Invoice</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        {% load static %}
        <style>
            @font-face {
                font-family: 'DIN Neuzeit Grotesk';
                src: url('{% static 'app/fonts/DIN Neuzeit Grotesk LT W01 BdCn.ttf' %}') format('truetype');
            }
        </style>
    </head>
    <body style="margin: 0; padding: 0;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td style="padding: 20px 30px 20px 30px;">
                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
                        <tr style="display: none"><td>We found a problem with your 3D print request. </td></tr>
                        <tr>
                            <td style="padding: 0 0 20px 0;">
                                <h1 style="color:#F7D57F; font-family:'DIN Neuzeit Grotesk';">Cubic3D</h1>
                                <p style="font-size:1.2em;">Hello {{ printrequest.user.first_name }}.</p>
                                <p style="font-size:1.2em;">
                                    We have some sad news. We ran into a speed bump processing your 3D print request
                                </p>
                                <p style="font-size:1.2em;">
                                    {{ rejectmessage }}
                                </p>
                                <p>
                                    We'd be happy to help you sort this out so if you need any further info on the above, feel free to contact us through 
                                    any of the channels below.
                                </p>
                                <p>
                                    <a href="mailto:support@cubic3d.co.ke?Subject=Print%20request%20error">support@cubic3d.co.ke</a>
                                    Mobile: <strong>0728274309</strong>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Kind regards: Cubic3D team
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
{% endautoescape %}