<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="icon" href="{% static 'app/images/favicon.ico' %}">
        <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'app/content/sitev2.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'app/content/responsive.css' %}"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    </head>
    <body class="cleanbody">
        
        <div id="edit_profile" class="container">
            <h1 class="clean_brand">CUBIC3D</h1>
            <div id="profile_title">
                <h1>{{title}}</h1>
                <h2>View and edit your personal info below.</h2>
            </div>
            <form method="POST" class="form-horizontal">
                {% csrf_token %} 
                <div class="input-group" {#style="display:none"#} >
                    <span class="input-group-addon"><label style="margin:0;"for="username">Login email</label></span>
                    {{form.username.errors}}
                    {{form.username}}
                </div>
                {{ form.non_field_errors }}
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <label for="first_name">First name</label>
                            {{form.first_name.errors}}
                            {{form.first_name}}
                        </div>
                        <div class="input-group">
                            <label for="email">Contact email</label>
                            {{form.email.errors}}
                            {{form.email}}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <label for="last_name">Last name</label>
                            {{form.last_name.errors}}
                            {{form.last_name}}
                        </div>

                        <div class="input-group">
                            <label for="mobile">Mobile number</label>
                            {{form.mobile.errors}}
                            {{form.mobile}}
                        </div>
                    </div>
                </div>
                <div class="submitbtn"><input type="submit" value="Change" class="btn btn1" /></div>
            </form>
        </div>
        <script src="{% static 'app/scripts/jquery.bcSwipe.min.js' %}"></script>
        <script src="{% static 'app/scripts/cubicscripts.js' %}?v=3.0"></script>

    </body>
</html>

