{% extends "app/layout.html" %}

{% block content %}

<div class="page-header title"><h1>{{ title }} <span class="brand">CUBIC3D</span></h1></div>
<div class="aboutinfo">
    <h2 class="page-header">WHO (OR WHAT) ARE WE?</h2>
    <p>
        Cubic3D is a 3D printing service <strong>based in Juja Kenya</strong> which brings all the new possibilites of this versetile manufacturing technique much closer to home.
    </p>
    <p>
        With our online print request system, you can send over your digital designs and we will print it for you. So be no more afraid to design in your favorite CAD software 
        because now we're here for you to move those custom part designs from your computer screen into your hands. 
    </p>
    <p>
        That said, 3D printing is in no way limited to CAD designed engineering parts as you may be thinking. 
        That is just but a drop in the ocean of the applications and possibilities of 3D printing. You dont even have to design it yourself!
        There are already tones of designed parts in online libraries such as <strong><a href="{% url 'thingiverse' %}">Thingiverse</a></strong>.
        Here are just some generalized applications with our name written all over them:
    </p>
        <ul class="applications">
            <li>Fast and accurate Architectural modeling.</li>
            <li>Hobby driven or final year engineering projects </li>
            <li>Artistic objects for work and living spaces not to mention wearables.</li>
            <li>Replacement parts for those broken or missing things with hard-to-find spares</li>
        </ul>
    <p>
        Expanding these general classes would result in an endless list.<br />
        With 3D printing, <strong class="extrastrong">Your imagination is the limit!</strong>
    </p>
    <p><a class="btn btn-primary" href="{% url 'home' %}">Back home &raquo;</a></p>
</div>
{% endblock %}
