{% extends "app/layout.html" %}

{% block content %}

<div class="page-header title"><h1>{{ title }}.</h1></div>
<div>
    <h3>{{ message }}</h3>

    <address>
        <a style="font-size:large;"href="mailto:Support@cubic3D.co.ke">Support@Cubic3D.co.ke</a><br />
    </address>
    <div class="contactinfo alert alert-info">
        <ul>
            <li>Seriously, any questions at all, dont hesitate to ask.</li>
            <li>You can also use this address to send us 3D objects which you were unable to convert into .stl format,</li>
            <li>Or even images that you would somehow like us to convert into an object, ofcourse siting some details.</li>
        </ul>
    </div>
</div>




{% endblock %}
