{% extends "app/layout.html" %}

{% block content %}
<div class="page-header title"><h1>{{title}}</h1></div>
<div class="alert alert-success">
    <strong>Success!</strong>Part processed successfully
</div>
<h2>Here's your quote</h2>

<div class="row review">
    <div class="col-md-3 received">
        <h3>Uploaded file:</h3>
        <p>{{filename}}</p>
        <h3>Purpose:</h3>
        <p>{{purpose}}</p>
        <h3>Material:</h3>
        <p>{{material}}</p>
        <h3>Color:</h3>
        <p>{{color}}</p>
        <form method="post">
            {% csrf_token %}
            <div class="scalerow">
                <div class="input-group">
                    <span class="input-group-addon">Scale</span>
                    {{form.scale}}
                    <span class="input-group-addon">%</span>
                    <span class="input-group-addon btnspan">
                        <button type="submit" class="btn btn-warning">Set</button>
                    </span>
                </div> 
            </div>
        </form>
    </div>
    
    <div class="col-md-9" id="viewrow">
        <p id="stlpath" hidden>{{stlpath}}</p>
        <iframe id="id_stlviewer" scrolling="no" src="{% url 'viewer'%}"></iframe>
    </div> 
</div>

<div class="alert alert-info">
    <!--<strong>Sliced output {{sliceoutput}}<br /></strong>-->
    <strong>Mass: {{slicemass}} g</strong>
    <strong>Estimated price: {{price}} Ksh - {{priceupper}} Ksh</strong>
    <h4>Important points to note:</h4>
    <ul>
        <li>The plane on which your object lies in the viewer above is 200x200mm. This should help give some perspective. Also, your object has to fit in there to be printable.</li>
        <li>The above viewer and price-estimate uses a scale of 100% and also assumes that the part is given in mm.</li>
        <li>If your object appears too small or too large, it is likely it was created in dimensions other than mm.</li>
        <li>If the above is true, please specify a scale as a percentage of the original to bring your object to the correct/desirable size</li>
        <li>The above price is just an estimate and is subject to change. The final price is usually sent via email when a full print request is made.</li>
    </ul>
</div>

<div>
    <div class="alert alert-info">
        <strong>Thanks for trying us out! </strong>Use the button below if your done viewing your print request
    </div>
    <a class="btn btn-primary" href="{% url 'delquote' %}">Done &raquo;</a>
</div>



{% endblock %}