{% extends "app/layout.html" %}

{% block content %}
<div class="page-header title"><h1>{{title}}</h1></div>

<form class="form-inline" method="post" id="linkform">
    {% csrf_token %}

    {{ form.non_field_errors }}
    <div class="form-group">
        {{form.requestid.errors}}
        <label for="{{requestid.id_for_label}}">Request ID:</label>
        {{form.requestid}}
    </div>
    <div class="form-group">
        <input type="hidden" id="viablebool" name="viablebool" />
    </div>
    <div class="form-group">
        {{form.rejectmessage.errors}}
        <label for="{{rejectmessage.id_for_label}}">Reject Message:</label>
        {{form.rejectmessage}}
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>request ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Print Name</th>
            <th>Uploaded</th>
            <th>Purpose</th>
            <th>Material</th>
            <th>Color</th>
            <th>ColorCombo</th>
            <th>ScaleInfo</th>
            <th>Special</th>
            <th>Download part</th>
            <th>Confirm</th>
            <th>Reject</th>
        </tr>
    </thead>
    {% for printrequest in requestqueue  %}
        <tr>
            <td class="requestid">{{printrequest.id}}</td>
            <td>{{printrequest.user.first_name}}</td>
            <td>{{printrequest.user.last_name}}</td>
            <td>{{printrequest.description}}</td>
            <td>{{printrequest.uploaded_at}}</td>
            <td>{{printrequest.purpose}}</td>
            <td>{{printrequest.material}}</td>
            <td>{{printrequest.color}}</td>
            <td>{{printrequest.color_combo}}</td>
            <td>{{printrequest.scale_info}}</td>
            <td>{{printrequest.further_requests}}</td>
            <td><a class="btn btn-primary download" href="/download/{{printrequest.thing.path}}" target="_blank">Download</a></td>
            <td><a class="btn btn-primary sendconfirm">Send link</a></td>
            <td><a class="btn btn-primary sendreject">Send Reject</a></td>
        </tr>
    {% endfor %}
</table>


{% endblock %}
