{% extends "app/layout.html" %}

{% block content %}
{% load static %}
<h2>{{ title }}.</h2>

<div class="row">
    <div class="col-sm-8 about-col">
        <h3>Filament from a team you can trust</h3>
        <p>
            We the team at Cubic3D have racked up an incredible amount of hours printing out all your 
            weird and wonderful ideas. With this time spent, we've learnt a great deal on the difference between 
            good and bad filament and now we are ready to offer you filament that we know is good. Really good! 
        </p>
        <p>
            We understand that 3D printing is a key player in what some term as the 4th industrial revolution. That said; we, 
            together with our strategic parners, have created this online store where you can order filament locally and have  
            it delivered to your doorstep to keep you printing. 
        </p>
        <p>
            
        </p>
    </div>
    <div class="col-sm-4 banner">
        <h3>CUBIC3D</h3>
        <a href="https://cubic3d.co.ke" target="_blank">
            <div class="tagline">
                <span class="tag-left">3D printing</span>
                <span class="tag-right">Closer Home</span>
            </div>
        </a>
        <div class="banner-overlay"></div>
    </div>
</div>

{% endblock %}
