{% extends "app/layout.html" %}

{% block content %}

<h2>Contacts</h2>
<h3>Qustions? feel free to reach out</h3>


<div class="contact-wrapper">
    <a class="contact-link">+254 728 274 309</a><br />
    <a href="mailto:Support@cubic3d.co.ke" class="contact-link">support@cubic3d.co.ke</a><br />
    <a href="https://twitter.com/Cubic3D_Ke" target="_blank"><img src="/static/store/images/twitter.webp" alt="twitter"></a>
    <a href="https://www.instagram.com/cubic3d_store/" target="_blank"><img src="/static/store/images/instagram.webp" alt="instagram"></a>
    <a href="https://www.facebook.com/cubic3d" target="_blank"><img src="/static/store/images/facebook.webp" alt="facebook"></a>
</div>

{% endblock %}
