{% extends "app/layout.html" %}
{% load static %}
{% block style %}
@media only screen and (max-width: 768px) {
    #cart_icon{
        position: absolute;
        top: 120px;
        right: 30px;
        z-index: 100;
    }
}
{% endblock %}

{% block content %}
<div class="headings">
    <h1>Welcome to our 3D filament store! </h1>
    <h4>We use the same stuff in our print farm, all day.</h4>
    <h4 id="service_link">In fact you could skip all the hustle and <a href="https://cubic3d.co.ke">let us do the printing...</a></h4>
</div>

<div class="filamentFilter">
    <form id="filterform" class="hidden" action="{% url 'filamentHome' %}" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.diameter }}
        {{ form.diameter.errors }}
        {{ form.material }}
        {{ form.material.errors }}
    </form>
    <div class="row diameter_select scroll_fade_in">
        <div class="col-sm-6">
            <img src="{% static 'store/images/diameter.svg' %}" alt="filDia"/>
        </div>
        <div class="col-sm-6">
            <h3>Select your filament diameter</h3>
            <ul id="dia_list">
                <li><button  value="1.75" class="dia_button btn1">1.75mm</button></li>
                <li><button  value="2.85" class="dia_button btn1 disabled">2.85mm</button></li>
            </ul>
        </div>
            
    </div>
    <div class="row material_select">
        <div class="col-sm-6">
            <img src="{% static 'store/images/molecule.svg' %}" alt="Material" />
        </div>
        <div class="col-sm-6">
            <h3>Pick a material</h3>
            <ul id="matl_list">
                {% for material in materials %}
                <li><button class="{%if not material.stock %}disabled {% endif %}btn1 matl_button"  {% if not material.stock %}data-toggle="tooltip" data-placement="bottom" title="Sorry, looks we're out of stock"{% endif %}>{{ material.name }}</button></li>
                {% endfor %}

            </ul>
        </div>
            
    </div>
    

</div>

<a href ="{% url 'cart' %}"id="cart_icon">
    <div>
        <img src="{% static 'store/images/cart.svg' %}"/>
        <span>{{num_cart_items}}</span>
    </div>
</a>

{% endblock %}
