{% extends "app/layout.html" %}
{% load static %}
{% block content %}

<div>
    <a class="filter_change" href="{% url 'filamentHome' %}" data-toggle="tooltip" data-placement="bottom" title="Click to change">
        <h2 class="inline" style="margin-right: 20px;">{{material}} at {{diameter}}mm diameter</h2>
    </a>
</div>
<div class="row filtered_filament">
    {% for filament in filtered %}
    <div class="col-md-3 col-sm-4 column scroll_fade_in">
        <img class="filament_image" src="{{filament.image.url}}" alt="{{filament.diameter}} {{filament.color}} {{filament.material.name}}" />
        <h3>
            {% if filament.net_weight == 1000 %}
            1 Kg - 
            {% else %}
            {{filament.net_weight}} g 
            {% endif %}
            {{filament.color}}
        </h3>
        <p class="type">{{filament.type}}</p>
        <p class="price">{{filament.price}} KSH</p>
        <div class="stock_bubble"><span>{{filament.stock}}</span></div>
        <span class="stock-tooltip">In stock</span>
        <span class="stock-info"></span>
        <button class="btn2 add_cart_btn" value="{{filament.id}}">Add to Cart</button>
        <div class="detail_overlay">

            <h4>Description</h4>
            <p> {{filament.characteristics}} </p>
            <p>
                Hotend: {{filament.print_temp}}&deg;C<br />
                Bed: {{filament.bed_temp}}&deg;C
            </p>
            {% if filament.help_link %}
            <a href="{% url 'howTo' %}" target="_blank">How to refill a spool</a>
            {% endif %}
        </div>
    </div>
    {%endfor%}
</div>

<a href ="{% url 'cart' %}"id="cart_icon">
    <div>
        <img src="{% static 'store/images/cart.svg' %}" alt="cart"/>
        <span>{{num_cart_items}}</span>
    </div>
</a>

<div id="cart-animator">

</div>

{% endblock %}
{% block scripts %}
    <script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "Product",
      "name": "{{diameter}}mm {{material}} filament",
      "image": [{{images|safe}}],
      "description": "This is {% if filtered.0.net_weight == 1000 %}1Kg {% else %}{{filtered.0.net_weight}}g {% endif %}of {{filtered.0.diameter}}mm {{filtered.0.material}} 3D printing filament with tight diametral tolerance and high consistency.",
      "brand": {
        "@type": "Brand",
        "name": "{{filtered.0.brand.name}}"
      },
      "offers": {
        "@type": "Offer",
        "url": "{{ request.scheme }}://{{ request.get_host }}{% url 'filament' diameter=diameter material=material %}",
        "priceCurrency": "KES",
        "price": "{{filtered.0.price}}",
        "itemCondition": "https://schema.org/NewCondition",
        {% if instock %}
        "availability": "https://schema.org/InStock"
        {% else %}
        "availability": "https://schema.org/OutOfStock"
        {% endif %}
      }
    }
    </script>
{% endblock %}
