{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>


<div class="row store_cat">
    <div class="col-sm-4">
        <a class="btn1 disabled scroll_fade_in" data-toggle="tooltip" data-placement="top" title="Almost there !">Spares & Accessories</a>
    </div>
    <div class="col-sm-4">
        <a class="btn1 scroll_fade_in" href="{% url 'filamentHome' %}">Filament</a>
    </div>
    <div class="col-sm-4">
        <a class="btn1 disabled scroll_fade_in" data-toggle="tooltip" data-placement="top" title="Almost there !">Printers</a>
    </div>
</div>

{% endblock %}

{% block scripts %}
{% endblock %}
